$font-size: 14px;

$light-green:#84E484;
$dark-green: #233123;

html, body {
    height:100%;
    width: 100%;
    font-size:0px;
}

body {
    color:orange;
    font-size: $font-size;
}

.wrapper {
    display: table;
    width: 100%;
    background-color: $dark-green;
    &:nth-child(2n){
        background-color: grey;
    }
    &.full-page{
        height:100%;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
        padding:10px;
    }
}


animation {

    svg {
        background-color: #DBDCA0;

        rect {
            fill: white;
        }
        rect.active {
            /*fill : red;*/
            animation-name: makeActive;
            animation-duration: 1s;
            animation-fill-mode: forwards;


        }
        rect.released {
            fill : green;
            animation-name: makeTransparent;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes makeActive {
    to{
        fill : green;
    }
}

@keyframes makeTransparent {

    to{
        opacity : 0.3;
    }
}