$font-size: 14px;

$light-green:#84E484;
$dark-green: #233123;

html, body {
    height:100%;
    width: 100%;
    font-size:0px;
}

body {
    color:orange;
    font-size: $font-size;
}

.wrapper {
    display: table;
    
    width: 100%;
    background-color: $dark-green;
    &:nth-child(2n){
        background-color: grey;
    }
    &.full-page{
        height:100%;
    }

    .content {
        display: table-cell;
        vertical-align: middle;
        padding:10px;
    }
    .content *{
        position : relative;
        z-index: 999;
    }
}


animation {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;

    background-image : url('/images/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    


    svg {
        /* background-color: #DBDCA0;*/
        width: 100%;
        height: 100%;
        

        rect {
            fill: white;
            /*stroke : #84E484;*/

            animation-name: makeStroke;
            animation-duration: 2s;
            animation-fill-mode: forwards;

        }
        rect.stroke {

        }
        rect.active {
            /*fill : red;*/
            animation-delay : 0;
            animation-name: makeActive;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;


        }
        rect.released {
            fill : #36DA36;
            animation-delay : 0;
            animation-name: makeTransparent;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes makeStroke {
    from{
        stroke : white;
    }
    to{
        stroke : #84E484;
    }
}

@keyframes makeActive {
    to{
        fill : #36DA36;
    }
}

@keyframes makeTransparent {
    to{
        opacity : 0.1;
    }
}