<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- bower -->
  <link rel="stylesheet" type="text/css" href="bower/normalize-css/normalize.css">

  <!-- livereload -->
  <script src="http://localhost:35729/livereload.js"></script> 

</head>
<body ng-app="app">
<!--
  <h2>Index.html</h2>
  <navigation></navigation>
  <div ng-controller="mainCtrl">
      <h2>{{hello}}</h2>
  </div>
-->
  <div class="wrapper full-page">
    
    <div class="content">
      <p>hello on full page wrapper</p>
      <animation id="squares">
        <svg width="800" height="600">
        <!--
          <rect width="100" height="100" 
          style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)" />
          -->
        </svg>  
    </animation>
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <p>hello on default page wrapper :o</p>
    </div>
  </div>

  <script type="text/javascript" src="bower/angular/angular.js"></script>
  <script type="text/javascript" src="js/app.js"></script>

  <script>


    var sqrAnimation = document.getElementById('squares');
    var svgContainer = sqrAnimation.getElementsByTagName('svg')[0];
    var squaresPerRowAmount = 8;

    var squareSide = calcSquareSide(svgContainer);
    var squaresPerColAmount = svgContainer.clientHeight / squareSide;
    console.log('squaresPerColAmount : ' + squaresPerColAmount)
    

    console.log(svgContainer);
    //calcSquaresAmount(svgContainer);

    
    var singleSquare = {
        width : squareSide,
        height : squareSide
      }


    for(var row= 0; row < squaresPerColAmount; row ++){
      for(var col = 0; col < squaresPerRowAmount; col++){
        var rectangle = getRectangle(singleSquare.width,singleSquare.height);
        setRectanglePosition(rectangle, row, col);

        attachEventsToRectangle(rectangle)

        svgContainer.appendChild(rectangle);
      }
    }

    function calcSquareSide(svg) {
      var side = svg.clientWidth / squaresPerRowAmount;
      return side;
    }

    function getRectangleNotWorking(width, height) {
      var rectNode = document.createElement("rect");
      rectNode.setAttribute("width", width);
      rectNode.setAttribute("height", height);
      rectNode.setAttribute("style", "fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)");

      return rectNode;
    }


    function getRectangle(width,height){
      var rectNodeSvg = document.createElementNS("http://www.w3.org/2000/svg", 'rect'); //Create a path in SVG's namespace
      //rectNodeSvg.setAttribute("d","M 0 0 L 10 10"); //Set path's data
      rectNodeSvg.setAttribute("width", width);
      rectNodeSvg.setAttribute("height", height);
      rectNodeSvg.style.stroke = "#000"; //Set stroke colour
      rectNodeSvg.style.strokeWidth = "1px"; //Set stroke width
      /* rectNodeSvg.style.fill = "white"; //Set stroke colour */
      //svg.appendChild(rectNodeSvg);
      return rectNodeSvg;
    }

    function setRectanglePosition(rectangle,row,column){
      var rectangleX = col * rectangle.getAttribute('width');
      var rectangleY = row * rectangle.getAttribute('width');

      rectangle.setAttribute("x", rectangleX);
      rectangle.setAttribute("y", rectangleY);
    }

    function attachEventsToRectangle(rectangle){

        rectangle.addEventListener('mouseover',function(){
          console.log('got it');
          console.log(this.className)
          //this.className="active";
          if(this.getAttribute("class") === ""){
            this.setAttribute("class", "active");
          }
        });

        rectangle.addEventListener('mouseout',function(){
          console.log('got it');
          console.log(this.className)
          //this.className="active";
          this.setAttribute("class", "released");
        });
    }
  </script>
</body>
</html>