html, body {
  height: 100%;
  width: 100%;
  font-size: 0px; }

body {
  color: black;
  font-size: 14px; }

.green {
  color: #57BD57; }

.makeVisible {
  opacity: 0;
  animation-name: makeVisible;
  animation-duration: 5s;
  animation-fill-mode: forwards; }

.wrapper {
  display: table;
  width: 100%;
  background-color: #233123; }
  .wrapper:nth-child(2n) {
    background-color: grey; }
  .wrapper.full-page {
    height: 100%; }
  .wrapper .content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
  .wrapper .content * {
    position: relative;
    z-index: 999; }

#welcomePage h3 {
  color: white;
  text-align: center;
  font-size: 4em; }

animation {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("/images/welcome-bg.jpg");
  background-size: cover;
  background-position: center; }
  animation svg {
    /* background-color: #DBDCA0;*/
    width: 100%;
    height: 100%; }
    animation svg rect {
      fill: white;
      /*stroke : #84E484;*/
      stroke: white;
      animation-name: makeStroke;
      animation-duration: 2s;
      animation-fill-mode: forwards; }
    animation svg rect.active {
      /*fill : red;*/
      animation-delay: 0;
      animation-name: makeActive;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
    animation svg rect.released {
      fill: #36DA36;
      animation-delay: 0;
      animation-name: makeTransparent;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }

@keyframes makeStroke {
  from {
    stroke: white; }
  to {
    stroke: #84E484; } }
@keyframes makeActive {
  to {
    fill: #36DA36; } }
@keyframes makeTransparent {
  to {
    opacity: 0.0; } }
@keyframes makeVisible {
  to {
    opacity: 1.0; } }
