html, body {
  height: 100%;
  width: 100%;
  font-size: 0px; }

body {
  color: orange;
  font-size: 14px; }

.wrapper {
  display: table;
  width: 100%;
  background-color: green; }
  .wrapper:nth-child(2n) {
    background-color: grey; }
  .wrapper.full-page {
    height: 100%; }
  .wrapper .content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px; }
